<!-- templates/after_register.html -->

{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
{%  endblock  %}

{% block title %} - 還差一步{% endblock %}

{% block content%}
<div class="container text-center">
    <div class="text-center pt-5">
        <h5 class="mt-5">{{ msg_text }}</h5>
        <br>
        <h2>還差最後一步</h2>
        <br>
        <p>認證碼已經寄送到你所註冊的電子信箱，<br>請前往你的信箱收取，<br>並點選啟動連結來啟動用你的帳號，謝謝！</p>
        <p class="mt-5">你要回到 <a href="{{ url_for('home_bp.seeHome') }}">首頁</a> 嗎?</p>
    </div>
</div>
{% endblock %}

{% block EOF_TAG %}
<!-- EOF templates/after_register.html -->
{% endblock EOF_TAG %}
