<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Caten Worship - {% block title %}{% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC:400,500&amp;subset=chinese-traditional"
        rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock head%}
</head>

<body>
    {% block navbar %}
    <nav class="navbarstyle navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='image/icon/Black_NB_fix.svg') }}"
                width="27" height="23" class="d-inline-block align-center mb-1"
                alt="Caten Worship">
            Caten Worship
        </a>
        <a class="d-md-none" data-toggle="collapse" href="#navbarSupportedContent" role="button" aria-expanded="false"
            aria-controls="navbarSupportedContent" id="navbar-menu-btn">
            <span class="navbar-toggler-icon"></span>
        </a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <hr class="navbar-hr">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link navbar-item-style" href="{{ url_for('surfer_bp.surfer') }}">
                        <i class="fas fa-shoe-prints"></i>
                        瀏覽詩歌
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock navbar %}


    <div id="content">
        {% block content %}{% endblock content%}
    </div>

    {% block footer %}
    <footer>
        <p>&copy; 2019 &nbsp;Salt.</p>
    </footer>
    {% endblock %}

    {% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock script %}
</body>

</html>
