<!-- templates/index.html -->

{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{%  endblock  %}

{% block title %}首頁{% endblock %}

{% block content%}
<div class="container text-center">
    <div id="home-title">
        <h1>Caten Worship</h1>
    </div>

    <div class="container text-center">
        <form action="{{ url_for('search_bp.search') }}" method="GET">
            <input class="d-none" type="text" name="m" value="search">
            <input class="d-none" type="text" name="s" value="title">
            <div class="form-group row m-0">
                <div class="col-sm-1 col-lg-2"></div>
                <div class="col p-0 p-md-3">
                    <div class="row m-0 justify-content-around">
                        <input name="q" type="text" class="form-control col-12 col-md-8 mb-4" id="search-text" placeholder="">
                        <button type="submit" class="btn btn-outline-success mb-4 col-5 col-sm-4 col-md-3">搜尋詩歌</button>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-2"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
