<!-- templates/register.html -->

{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_css.css') }}">
{%  endblock  %}

{% block title %}註冊{% endblock %}

{% block content%}
<div class="container text-center">
    <div id="home-title" class="mt-5 mb-5 pt-5">
        <h3>註冊帳號</h3>
        <small>請填寫下列註冊表單以完成註冊</small>
    </div>

    <div class="container px-0 px-md-2 px-lg-5">
        <form id="form-register" action="{{ url_for('register_bp.register') }}" method="POST">

            <!-- 使用者帳號 username -->
            <div class="form-group mt-4">
                <label for="input-register-username">使用者帳號</label>
                <input name="username" type="text" class="form-control" id="input-register-username" aria-describedby="usernameHelp" placeholder="請輸入您的使用者帳號">
                <small id="usernameHelp" class="form-text text-muted text-left pl-2"><b>註冊後無法更改。</b></small>
                <small id="usernameHelp2" class="form-text text-muted text-left pl-2">4-24個英文或數字，接受底線("_")。</small>
            </div>

            <!-- E-mail email-->
            <div class="form-group mt-4">
                <label for="input-register-email">E-mail</label>
                <input name="email" type="email" class="form-control" id="input-register-email" aria-describedby="emailHelp" placeholder="請輸入您的 E-mail">
                <small id="emailHelp" class="form-text text-muted text-left pl-2">請填入正確的Email地址，用以啟動帳號</small>
            </div>

            <!-- 顯示名稱 displayname -->
            <div class="form-group mt-4">
                <label for="input-register-displayname">顯示名稱</label>
                <input name="displayname" type="text" class="form-control" id="input-register-displayname" aria-describedby="displaynameHelp" placeholder="請輸入您想顯示的名稱">
                <small id="displaynameHelp" class="form-text text-muted text-left pl-2"><b>註冊後可以更改。</b></small>
                <small id="displaynameHelp2" class="form-text text-muted text-left pl-2">至多16個英數字元或8個中文字，接受底線("_")。</small>
            </div>

            <!-- 密碼 password -->
            <div class="form-group mt-4">
                <label for="input-register-password">密碼</label>
                <input name="password" type="password" class="form-control" id="input-register-password" placeholder="請輸入您的密碼">
                <small id="usernameHelp" class="form-text text-muted text-left pl-2">至少8個字元，可以使用英文字母、數字和(_!@#$%^&*)。</small>
            </div>

            <!-- 確認密碼 confirm-password -->
            <div class="form-group mt-4">
                <label for="input-register-confirm-password">再次輸入密碼</label>
                <input name="confirm-password" type="password" class="form-control" id="input-register-confirm-password" placeholder="請再次輸入您的密碼">
            </div>

            <button id="btn-register" type="button" class="btn btn-outline-info">
                註冊
            </button>

        </form>
    </div>
</div>

{% endblock %}

{% block script %}
{{ super () }}
<script src="{{ url_for('static', filename='js/register_js.js') }}"></script>
{% endblock script %}
