<!-- templates/resend_mail.html -->

{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{%  endblock  %}

{% block title %} - 重新取得帳號啟動信{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content%}

<div class="container container-static">
    <div class="home-title" class="">
        <h4>重新傳送帳號啟動信</h4>
        <div id="login-alert" class="alert alert-danger fade alert-fixed" role="alert">
            <button class="close close-danger-alert">&times;</button>
        </div>
    </div>

    <div class="card px-4">
        <form id="form-resend" action="{{ url_for('resend_activate_mail_bp.resend_activate_mail') }}" method="POST">

            <!-- email-->
            <div class="form-group mt-4">
                <label for="input-email" class="ml-2">電子郵件地址</label>
                <input name="email" type="text" class="form-control focus-id-1" id="input-email" aria-describedby="emailHelp" autofocus="true">
            </div>

            <input type="text" class="d-none" name="enter-submit-stopper">

            <!-- resend -->
            <button id="btn-resend" type="button" class="btn btn-success main-btn">
                重新傳送啟動信
            </button>
        </form>

        <span class="new-to-here">新加入嗎？ <a href="{{ url_for('register_bp.register') }}">點我註冊</a></span>
        <span class="new-to-here"><a class="have-problem" href="#">遇到問題？</a></span>
    </div>
</div>

{% endblock %}

{% block script %}
{{ super () }}
<script src="{{ url_for('static', filename='js/resend.js') }}"></script>
{% endblock script %}
