<!-- templates/surfer.html -->

{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="static/css/surfer.css">
{%  endblock  %}

{% block title %} - 瀏覽{% endblock %}

{% block content%}
<div class="container text-center">
    <div class="title-under-navbar">
        <h4>請選擇要瀏覽的詩歌類別</h4>
    </div>

    <h5 class="surferClass mb-4">
        依語言瀏覽&nbsp;
        <a class="" data-toggle="collapse" href="#byLanguage" role="button" aria-expanded="false"
            aria-controls="byLanguage">
            <i class="fas fa-chevron-down"></i>
        </a>
    </h5>
    <div class="collapse" id="byLanguage">
        <div class="container text-center p-md-0">
            <div id="language-surfer">
                <form action="{{ url_for('search_bp.search') }}" method="GET">
                    <input type="text" class="d-none" name="m" value="surf">
                    <input type="text" class="d-none" name="s" value="language">
                    <div class="row pb-3">
                        <div class="col">國語</div>
                        <div class="col">台語</div>
                    </div>
                    <div class="row">
                        <div class="col px-0 pr-md-3">
                            <div class="row mx-0 p-0">
                                {% for i in range(1, 12) %}
                                <div class="col-12 col-md-6 col-xl-4 p-0 my-2">
                                    <button type="submit" class="btn chinese-surf-btn" name="q" value="c{{ i }}">
                                        第 {{ i }} 集
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col px-0 pl-md-3">
                            <div class="row mx-0 p-0">
                                {% for i in range(1, 11) %}
                                <div class="col-12 col-md-6 col-xl-4 p-0 my-2">
                                    <button type="submit" class="btn taiwanese-surf-btn" name="q" value="t{{ i }}">
                                        第 {{ i }} 集
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
