{% extends "base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="static/css/songslist.css">
{%  endblock  %}

{% block title %}
會員資料
{% endblock%}

{% block content%}

<div class="container text-center">
    <div id="home-title">
        <h4 class="mb-4 search-infomation">
            會員資料
        </h4>
    </div>

    <hr>

    <!-- List -->

    <ul>
    {% for user in users %}
        <li>User: {{user.username}}, Email: {{ user.email }}</li>
    {% endfor %}
    </ul>

    <a class="back-to-home" href="/">回首頁</a>

</div>
{% endblock %}
