<!-- templates/verifymail.html -->

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caten Worship 帳號註冊認證信</title>
</head>
<body>
    <div class="" style="text-align: center; margin-top: 4rem;">
        <div id="title" style="text-align: center;">
            <h1>Caten Worship</h1>
        </div>

        <div class="" style="text-align: center;">
            <h3>{{ username }}, 歡迎你, 請點擊下面連結來啟用您的帳號, 謝謝</h3>
            <h4>{{ url_for("activate_account_bp.activate_account", token=token, _external=True) }}</h4>
        </div>
    </div>
</body>
</html>

