/* static/css/resultlist.css */

button,
button:active,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* song card */

.song-card {
    text-align: center;
}

.card {
    background-color: #ffffff00;
    border: none;
    border-radius: .5rem;
    min-width: 255px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15)
}

/* add song list */
.song-list-add-btn {
    width: 24px;
    padding: 0;
    border: none;
    background: none;
    float: right;
    font-size: 90%;
    vertical-align: middle;
    line-height: 1.5rem;
}

.add-list-container {
    padding: .5rem 0;
}

.drop-songlist {
    width: 270px;
    position: absolute;
    z-index: 1000;

    margin: .125rem 0 0;
    text-align: left;
    background-color: #fff;
    border-radius: .25rem;

    right: 0;
    left: auto;
    top: auto;
    font-size: 1.4rem;
    transition: 400ms;
}

.song-list-add-check {
    padding: 1rem 1.5rem;
}

.add-song-list-space {
    display: inline-block;
    width: .1rem;
    height: .1rem;
}

.list-added {
    color: #11cc00;
}

.list-not-added {
    color: #616161ad;
}

.songlist-add {
    padding: .5rem 1.5rem;
}

.songlist-add-a {
    color: rgba(6, 78, 119, 0.548);
}

.form-check-input {
    position: inherit;
}

.input-addnewlist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    border-radius: .25rem;
    padding: .5rem;
    outline: none;
    border: 1px solid rgba(36, 41, 46, 0.301);
    width: 90%;
    transition: 500ms;
}

.input-addnewlist:focus {
    outline: none;
    border: 1px solid rgba(0, 120, 190, 0.527);
}

.add-list-group {
    margin-top: .7rem;
    margin-bottom: .5rem;
}

.songlist-add label {
    margin: 0;
}

.songlist-add p {
    margin: 1rem;
}

.songlist-add small {
    padding-top: .5rem;
    padding-bottom: .3rem;
}

.songlist-add button {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 1.4rem;
}

hr.percent-80 {
    margin: 1.5rem .3rem 1.2rem .3rem;
}

/* song card */

.card .card-header {
    background-color: #d5ecff;
    border-radius: .5rem .5rem 0 0;
    border-bottom: none;
}

.header-title-text {
    margin-right: -24px;
}

.song-content-container {
    transition: 500ms;
}

.song-card-content-hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card .card-body {
    font-size: 1.3rem;
    background-color: #fafff5;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card .card-body-border-bottom {
    border-radius: 0 0 .5rem .5rem;
}

.card .card-body-hide-content {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.card-main-info:not(.show-more-song-content) {
    color: #344042;
}

.song-info {
    line-height: 2rem;
}

.lyrics-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.lyrics-text {
    font-size: 1.2rem;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    text-align: left;
}

.youtube-player iframe {
    font-size: 1rem;
}

.show-more-song-content i {
    color: #a5679b;
    font-size: 1.6rem;
    transition: 500ms;
}

.show-more-song-color i {
    color: #7e0c0c;
}

.album-info {
    font-size: 1rem;
}

.ppt-icon {
    color: #d85a20;
}

.sheet-music-icon {
    color: #2e8592;
}

.youtube-icon {
    color: #c00000;
}

.report-icon {
    color: #ac3030;
    font-size: 1rem;
}

/* bottom */
.back-to-home {
    display: inline-block;
    margin: 5rem auto;
}


/* search mode */
.search-mode {
    
}
