# 虛擬環境
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 資料
sheetdata

# 機密
secret.txt
secret/
secret

# vscode 設定
.vscode

# .DS_Store from MacOS
.DS_Store

# Flask.Python Stack
__pycache__/
*.py[cod]
*$py.class

instance/

songs_data
songs_data/

.pytest_cache/
.pytest_cache
