PYTHONPATH=./caten_music


DROPBOX_ACCESS_TOKEN=thisIsOnlyForTestNotWork
DATABASE_URL=postgresql://postgres:postgres@db:5432/caten_music
APP_SETTING=Development
TEST_SETTING=Testing
HASH_SALT=testHashSalt
SECRET_KEY=testSecretKey
CHURCH_MUSIC_API_URL=https://church-music-api.onrender.com
CONTACT_EMAIL=your-contact@email.com
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=465
SMTP_USERNAME=your_smtp_username_here
SMTP_PASSWORD=your_smtp_password_here
SMTP_USE_SSL=True
