PYTHONPATH=./caten_music


DROPBOX_ACCESS_TOKEN=thisIsOnlyForTestNotWork
DATABASE_URL=postgresql://postgres:postgres@db:5432/caten_music
APP_SETTING=Development
TEST_SETTING=Testing
HASH_SALT=testHashSalt
SECRET_KEY=testSecretKey
CHURCH_MUSIC_API_URL=https://church-music-api.onrender.com
