certifi
chardet
click
dropbox
gunicorn
idna
itsdangerous
requests
six
urllib3
xlrd
Flask
Flask-SQLAlchemy
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
psycopg2
flask-login
python-dotenv
flask-mail
pytest
flask-migrate
flask_apscheduler
pandas
openpyxl
