<!-- templates/form_reset_password.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account/register.css') }}">
{%  endblock  %}

{% block title %} - 重設密碼{% endblock %}

{% block header_title %}
重設密碼
{% endblock%}

{% block header_info %}
<p>請填寫表單以重設密碼</p>
{% endblock%}


{% block content %}

    <div class="container container-static">
        <form id="form-register" class="form-register" action="{{ url_for('reset_password_bp.reset_password', step='setting', token=token) }}" method="POST">
            <!-- 密碼 password -->
            <div class="form-group">
                <label for="input-register-password" class="ml-2">密碼</label>
                <input name="password" type="password" class="form-control focus-id-1" id="input-register-password"
                    placeholder="請輸入您的密碼">
                <small id="passwordHelp-in"
                    class="form-text text-left pl-2 invalid-feedback">至少8個字元，可以使用英文字母、數字和(_!@#$%^&*+-/:)</small>
                <small id="passwordHelp" class="form-text text-left pl-2 valid-feedback">OK</small>
            </div>

            <!-- 確認密碼 confirm_password -->
            <div class="form-group">
                <label for="input-register-confirm_password" class="ml-2">再次輸入密碼</label>
                <input name="confirm_password" type="password" class="form-control focus-id-2"
                    id="input-register-confirm_password" placeholder="請再次輸入您的密碼">
                <small id="confirm_passwordHelp-in" class="form-text text-left pl-2 invalid-feedback">兩次輸入的密碼不相符</small>
                <small id="confirm_passwordHelp" class="form-text text-left pl-2 valid-feedback">OK</small>
            </div>

            <button id="btn-register" type="button" class="btn btn-outline-info button-register">
                重設
            </button>

        </form>
    </div>

{% endblock %}

{% block script %}
{{ super () }}
<script src="{{ url_for('static', filename='js/account/reset_password.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/form_reset_password.html -->
{% endblock EOF_TAG %}
