<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Caten Music{% block title %}{% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style -->
    {% block css %}

    {% include "base/style.html" %}

    {% endblock css %}

    {% endblock head%}

</head>

<body>

    
    {% block modal %}{% endblock modal %}
    
    {% block alert %}
    {% include "base/alert.html" %}
    {% endblock alert %}
    
    {% block navbar %}
    {% include "base/navbar.html" %}
    {% endblock navbar %}

    {% block jumbotron %}
    {% endblock jumbotron %}

    <div class="container">

        {% block header %}
        <!-- Header -->
        <header id="top-header">
            <div class="container">
                <h2 class="header-title">
                    {% block header_title %}{% endblock header_title %}
                </h2>
            </div>
            <div class="header-info-content">
                {% block header_info %}{% endblock header_info %}
            </div>
        </header>
        {% endblock header %}
    

        {% block main_hr %}
        <hr class="main-hr-bar">
        {% endblock main_hr %}

        <!-- Content -->
        <div id="content">
            {% block content %}{% endblock content%}
        </div>

        <!-- Footer -->
        {% block footer %}
        <footer id="footer">
            <p>&copy; 2019 &nbsp;Salt Chang - 
                <a href="https://github.com/saltchang/caten-music">GitHub</a>
            </p>
            <p>
                本網站仍處開發階段。如有任何問題，歡迎<a href="mailto:kk3684635@gmail.com">聯繫我</a>。
            </p>
        </footer>
        {% endblock %}

    </div>

    <!-- Script -->
    {% block script %}
    {% include "base/script.html" %}
    {% endblock script %}
</body>

</html>

{% block EOF_TAG %}{% endblock EOF_TAG %}
