/* static/css/surfer.css */

.taiwanese-surf-btn {
    background-color: #c2ab82;
    width: 80%;
    height: 2.5rem;
}

.chinese-surf-btn {
    background-color: #b18dd3;
    width: 80%;
    height: 2.5rem;
}

.surferClass a {
    color: #a5679b;
    transition: 700ms;
}
