/* static/css/base.css */

/* basic standard */
/* min-view-port: 320px */

html {
    font-size: 12px;
    min-width: 320px;
    /* transform: scale(0.8333); */
}

_:-ms-fullscreen,
:root .ie11up {
    font-family: 'Noto Sans TC',
        'EB Garamond',
        'Airal',
        sans-serif;
}

a:hover {
    text-decoration: none;
}


body {
    min-width: 320px;
    background: #f7f4e3;
    color: #344042;
}

footer {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: 15px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: 0;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input,
input:focus,
.form-control,
.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* content */
#content {
    min-height: 85vh;
    margin-top: 50px;
    padding-bottom: 100px;
}


/* header-title */
.title-under-navbar {
    padding-top: 120px;
    padding-bottom: 50px;
    font-family: 'EB Garamond', sans-serif, serif;
}
