/* static/css/header.css */

/* header */

#top-header {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.header-title {
    margin-bottom: 2rem;
}

.header-info-content p{
    font-size: 1.2rem;
    color: #000000A0;
}

.header-info-content small{
    font-size: 1rem;
    color: #00000070;
}
