/* static/css/surfer.css */


#surf-title {
    margin-top: 150px;
    margin-bottom: 50px;
}

.taiwanese-surf-btn {
    background-color: #c2ab82;
}

.chinese-surf-btn {
    background-color: #b18dd3;
}

.btn {
    width: 80%;
    height: 2.5rem;
}

.surferClass a {
    color: #a5679b;
    transition: 700ms;
}
