<!-- templates/songlist.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/song_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/songlist.css') }}">
{%  endblock  %}

{% block title %}
- {{ songlist.title}}
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal-container">
<div id="share-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">分享歌單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" value="{{ request.url }}" class="url-text">
            </div>
            <div class="modal-body">
                <span>
                    <div class="line-it-button" data-lang="zh_Hant" data-type="share-c" data-ver="3" data-url="{{ request.url }}" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
                    <span class="share-tag">Line</span>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock modal %}

<div class="container text-center">

{% block header_title %}

<span class="d-none d-sm-inline">歌單 - </span>
{{ songlist.title }}
{% if current_user.id == songlist.user_id %}
<a class="a-songlist-edit" href="{{ url_for('songlist_edit_bp.edit', out_id=songlist.out_id)}}">
    <i class="fas fa-pen"></i>
</a>
{% endif %}

{% endblock header_title %}

{% block header_info %}

<p class="main-info">
    <span class="info-icon">
        {% if not songlist.is_private %}
        <i class="fas fa-globe-asia"></i>&nbsp;
        <span class="d-none d-sm-inline">公開</span>
        {% else %}
        <i class="fas fa-lock"></i>&nbsp;
        <span class="d-none d-sm-inline">私人</span>
        {% endif %}
    </span>

    <span class="info-icon">
        {% if songlist.is_archived %}
        <i class="fas fa-archive"></i>&nbsp;
        <span class="d-none d-sm-inline">已封存</span>
        {% else %}
        <i class="fas fa-box-open"></i>&nbsp;
        <span class="d-none d-sm-inline">未封存</span>
        {% endif %}
    </span>
    

    {{ listowner.displayname }}
    <span class="bull-dot">&bull;</span>
    {{ songlist.songs_amount }} 首<span class="d-none d-sm-inline">歌</span>
    <span class="bull-dot">&bull;</span>
    {{ songlist.edited_time.year }}-{{ songlist.edited_time.month }}-{{ songlist.edited_time.day }} <span class="d-none d-sm-inline">更新</span>
</p>
<p class="header-info-description" data-text-content="{{ new_description }}">
</p>

<div class="happy-share">
    <button type="button">分享&nbsp;<i class="fas fa-share-square"></i></button>
</div>

{% endblock header_info %}

{% block content%}

<div class="container text-center">

    {% if songs | length == 0 %}
    <h3>歌單目前沒有歌曲哦！</h3>
    {% endif %}

    {% for song in songs %}
    {% set song_index = loop.index0 %}

    <!-- SongList song info -->
    <div class="songlist-song-info">
        <p class="song-order-tag">
            第 {{ song_index + 1 }} 首
        </p>
    </div>
    
    <!-- Song Card -->
    
    {% include "songs/song_card.html" %}

    {% endfor %}

</div>

{% endblock %}

</div>

{% block script %}
{{  super ()  }}
    <script src="{{ url_for('static', filename='js/songs/song_card.js') }}"></script>
    <script src="{{ url_for('static', filename='js/songs/add_songlist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/songs/songlist.js') }}"></script>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/songlist_id.html -->
{% endblock EOF_TAG %}
