/* static/css/base.css */

/* anamition */
@keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

/* basic standard */
/* min-view-port: 320px */

html {
    font-size: 12px;
    min-width: 320px;
    font-family:
        'PingFangTC-Regular',
        '蘋方-繁',
        'Noto Sans TC',
        'EB Garamond',
        'Airal',
        sans-serif;
}

a:hover {
    text-decoration: none;
}


body {
    min-width: 320px;
    /* background: #f7f4e3; */
    /* background: #ffeee0; */
    color: #344042;
    background: #ffeba9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #e4f2ff, #fff8ee, #ffeba9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d8ecff, #e9f4ff, #ffffff, #fff5e9, #ffeaa6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: 15px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: 0;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input,
input:focus,
.form-control,
.form-control:focus {
    outline: none;
    box-shadow: none;
    transition: 500ms;
    border: 1px solid #ff770020;
}

input:focus,
textarea:focus,
select:focus,
.form-control:focus {
    border: 1px solid #ff7500;
}

/* content */
#content {
    min-height: 85vh;
    margin-top: 2rem;
    padding-bottom: 100px;
}

/* Main hr bar */

.main-hr-bar {
    margin: 1rem auto;
}


/* Modal */

.modal-header button {
    font-size: 2rem;
}

.modal-body {
    font-size: 1.2rem;
}
