/* static/css/navbar.css */


/* Navbar */

#navbar .navbar-content-list .nav-item a,
#navbar .navbar-content-list .nav-item button {
    /* color: #344042; */
    color: #000000;
}

.dropdown-collapse form button:hover {
    background: none;
}

.navbar {
    /* background-color: #9CAE92; */
    background-color: #ff8800;
    min-width: 320px;
    padding: 1rem 1.5rem;
    align-items: center;
    display: flex;
}

.navbar-collapse {
    padding-bottom: 1.4rem;
}

.navbar-nav {
    line-height: 2rem;
    vertical-align: middle;
}

.nav-item {
    font-size: 1.4rem;
    display: flex;
    vertical-align: middle;
}

.nav-link {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.navbar-light .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

.navbar-brand {
    /* opacity: .85; */
    color: #421800;
    font-family: 'EB Garamond', sans-serif, serif;
    /* margin-right: 1rem;
    padding-right: 1rem; */
    padding-top: 0;
    padding-bottom: 0;
    /* margin: auto; */
}

.navbar-search-form {
    width: 100%;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-input-search-songs-text {
    font-size: 1.5rem;
}

.navbar-search {
    color: #000000;
    padding: .7rem .8rem;
    height: 3.6rem;
    line-height: 1.7rem;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: none;
    transition: 700ms;
}

.navbar-search::placeholder {
    color: rgba(0, 0, 0, 0.5);
    transition: 700ms;
}

.navbar-search:focus {
    border: 1px solid rgba(0, 0, 0);
    width: 100%;
    background: #ffffff;
}

.navbar-search:focus::placeholder {
    padding-left: 93%;
}

.btn-navbar-user-dropdown {
    background-color: #00000000;
    padding: 0;
    width: 100%;
    text-align: left;
}

.dropdown-collapse {
    width: 100%;
    position: absolute;
    z-index: 1000;

    margin: 3rem 0 0;
    text-align: left;
    background-color: rgb(255, 220, 187);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: .25rem;

    right: auto;
    left: 0;
    top: auto;
    font-size: 1.4rem;
    transition: 400ms;
}

.dropdown-item {
    padding: 1.5rem;
}

.brand-menu-container {
    padding-left: .5rem;
    padding-right: .5rem;
    align-items: center;
}


.navbar-hr {
    margin-top: 1.8rem;
    margin-bottom: 1.7rem;
}


@media (min-width: 768px) {

    .navbar-brand {
        margin-right: 1rem;
    }

    .navbar-collapse {
        padding-bottom: 0;
    }

    .navbar-search {
        height: 2.4rem;
        width: 180px;
        margin-left: 5px;
        margin-right: 10px;
    }

    .navbar-search:focus {
        width: 290px;
    }

    .brand-menu-container {
        padding-left: 0;
        padding-right: 0;
    }

    .dropdown-collapse {
        width: 20rem;
        margin: 3rem 0 0;
        right: 0;
        left: auto;
    }

    .navbar-input-search-songs-text {
        font-size: 1.2rem;
    }

    .btn-navbar-user-dropdown {
        margin-left: 1rem;
    }
    
}
