<!-- templates/list_of_songlist.html -->

{% set user = current_user %}

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/list_of_songlist.css') }}">
{%  endblock  %}

{% block title %}
- 我的歌單
{% endblock %}

{% block header_title %}
我的歌單列表
{% endblock%}

{% block header_info %}
共有 {{ current_user.song_list | length }} 份歌單
{% endblock%}

{% block content%}

<div class="container text-center">
    <!-- List -->

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="table-td-icon"></th>
                <th scope="col" class="table-td-icon d-none d-sm-table-cell"></th>
                <th scope="col" class="">
                    <span class="d-sm-none">日期</span>
                    <span class="d-none d-sm-inline">更新日期</span>
                </th>
                <th scope="col" class="">
                    歌單標題
                </th>
                <th scope="col" class="">
                    <span class="d-md-none">曲數</span>
                    <span class="d-none d-md-inline">歌曲數量</span>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    建立者
                </th>
                <th scope="col" class="d-none d-lg-table-cell">
                    說明
                </th>
            </tr>
        </thead>
        <tbody>
            {% for songlist in user.song_list %}
            <tr id="{{ songlist.out_id }}">
                <a href="{{ '/songlist/' + songlist.out_id }}">

                    <td class="table-td-icon">
                        {% if songlist.is_private %}
                        <span><i class="fas fa-lock"></i></span>
                        {% else %}
                        <span><i class="fas fa-globe-asia"></i></span>
                        {% endif %}
                    </td>

                    <td class="table-td-icon d-none d-sm-table-cell">
                        {% if songlist.is_archived %}
                        <span><i class="fas fa-archive"></i></span>
                        {% else %}
                        <span><i class="fas fa-box-open"></i></span>
                        {% endif %}
                    </td>

                    <td class="">
                        <span class="d-sm-none">{{ songlist.edited_time.month }}/{{ songlist.edited_time.day }}</span>
                        <span class="d-none d-sm-inline">{{ songlist.edited_time.year }}-{{ songlist.edited_time.month }}-{{ songlist.edited_time.day }}</span>
                    </td>

                    <td class="">{{ songlist.title }}</td>
                    <td class="">{{ songlist.songs_amount }}</td>
                    <td class="d-none d-md-table-cell">{{ user.displayname }}</td>
                    <td class="d-none d-lg-table-cell">
                            {{ songlist.description }}
                    </td>
                </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for list in song_lists %}

    {% endfor %}

</div>
{% endblock %}

{% block script %}
{{  super ()  }}
<script src="{{ url_for('static', filename='js/songs/list_of_songlist.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/list_of_songlist.html -->
{% endblock EOF_TAG %}
