<!-- templates/mysonglist.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="static/css/songs/resultlist.css">
{%  endblock  %}

{% block title %}
- 我的歌單
{% endblock %}

{% block content%}

<div class="container text-center">

    <!-- Header -->
    <div id="home-title">

        <h4 class="mb-4 search-infomation">
            我的歌單列表
        </h4>
        <p>共有 {{ song_lists_amount }} 份歌單</p>

    </div>

    <hr>

    <!-- List -->

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">標題</th>
            <th scope="col">歌曲</th>
            <th scope="col">建立日期</th>
            <th scope="col">擁有者</th>
            <th scope="col">隱私設定</th>
            <th scope="col">狀態</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5/26 主日敬拜</td>
            <td>5</td>
            <td>2019/05/20</td>
            <td>光鹽</td>
            <td>
                <div>公開</div>
                <div>已封存</div>
            </td>
          </tr>
          <tr>
            <td>喜歡的歌曲</td>
            <td>17</td>
            <td>2019/04/18</td>
            <td>光鹽</td>
            <td>私人</td>
            <td>可編輯</td>
          </tr>
          <tr>
            <td>下次青崇練習</td>
            <td>4</td>
            <td>2019/05/23</td>
            <td>玉奇</td>
            <td>公開</td>
            <td>可編輯</td>
          </tr>
        </tbody>
      </table>

    {% for list in song_lists %}
    
    {% endfor %}

    <a class="back-to-home" href="/">回首頁</a>

</div>
{% endblock %}

{% block script %}
{{  super ()  }}
    <!-- <script src="{{ url_for('static', filename='js/songs/resultlist.js') }}"></script> -->
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/mysonglist.html -->
{% endblock EOF_TAG %}
