<!-- templates/songlist_edit.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/songlist_edit.css') }}">
{%  endblock  %}

{% block title %}
- 編輯
{% endblock %}

{% block content%}

<!-- model -->

<!-- remove a song from songlist -->
<div id="remove-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">從歌單移除</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>你確定要從歌單移除「<span id="span-remove-title">這首歌</span>」嗎？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="btn-remove-song" type="button" class="btn btn-danger">確定</button>
            </div>
        </div>
    </div>
</div>

<!-- delete whole songlist -->
<div id="delete-songlist-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">從歌單移除</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    你確定要刪除這份歌單嗎？
                    <br>
                    <span class="text-danger">警告：此動作將無法復原。</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="btn-delete-whole-songlist-confirm" type="button" class="btn btn-danger">確定刪除</button>
            </div>
        </div>
    </div>
</div>

<!-- editting form -->
<div class="container text-center">

    <!-- Header -->
    <div class="top-header">


        <h4 class="main-title">
            編輯歌單
        </h4>
        <p class="info-out-id">
            #{{ songlist.out_id }}
        </p>
        <p class="main-info info-title">
            {{ songlist.title }}
        </p>
        <p class="main-info">
            更新於
            <br>
            {{ songlist.edited_time.year }}-{{ songlist.edited_time.month }}-{{ songlist.edited_time.day }}&nbsp;&nbsp;{{ songlist.edited_time.hour }}:{{ songlist.edited_time.minute }}
        </p>
    </div>

    <h6>歌單資訊</h6>

    <hr class="main-hr-bar">

    <form id="form-edit-songlist" action="{{ url_for('songlist_edit_bp.edit', out_id=songlist.out_id)}}" method="POST">

        <div class="form-group">
            <label class="input-label" for="edit-title">標題</label>
            <input class="input-text" type="text" name="title" id="edit-title" value="{{ songlist.title }}">
        </div>

        <div class="form-group">
            <label class="input-label" for="edit-description">說明</label>
            <textarea class="input-text input-description" type="text" name="description"
                id="edit-description">{{ songlist.description }}</textarea>
        </div>

        <input class="d-none song-amount-data" type="text" name="songs_amount" value={{ songlist.songs_amount }}>

        <div class="form-group">

            <label class="input-label">隱私設定</label>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="privacy" id="public" value="public"
                        {% if not songlist.is_private %} checked {% endif %}>
                    <label class="form-check-label" for="public">
                        <i class="fas fa-globe-asia"></i>&nbsp;公開
                    </label>
                </div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="privacy" id="private" value="private"
                        {% if songlist.is_private %} checked {% endif %}>
                    <label class="form-check-label" for="private">
                        <i class="fas fa-lock"></i>&nbsp;私人
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">

            <label class="input-label">封存</label>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="archive" id="archived" value="archived"
                        {% if songlist.is_archived %} checked {% endif %}>
                    <label class="form-check-label" for="archived">
                        <i class="fas fa-archive"></i>&nbsp;封存
                    </label>
                </div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="archive" id="unarchived" value="unarchived"
                        {% if not songlist.is_archived %} checked {% endif %}>
                    <label class="form-check-label" for="unarchived">
                        <i class="fas fa-box-open"></i>&nbsp;未封存
                    </label>
                </div>
            </div>
        </div>

        <!-- songlist -->

        <div class="edit-songlist">
            <h6>歌曲列表</h6>

            <table class="table songlist-table">
                <tbody class="songlist-tbody">
                    {% for song in songs %}
                    {% set song_index = loop.index0 %}
                    {% if song.language == "Chinese" %}
                    {% set song_lang = "國" %}
                    {% else %}
                    {% set song_lang = "台" %}
                    {% endif %}
                    <tr data-sid="{{ song.sid }}">

                        <td class="d-none">
                            <input class="d-none song-data" type="text" name="{{ song_index }}" value="{{ song.sid }}">
                        </td>

                        <td class="td-drag-dot drag-this-iron-man"><i class="fas fa-ellipsis-v" draggable="true"></i>
                        </td>
                        <td class="td-song-order">{{ song_index + 1 }}</td>
                        <td class="td-song-info">
                            {{ song.tonality }}
                            <br>
                            {{ song_lang }} {{ song.num_c }} - {{ song.num_i }}
                        </td>

                        <td class="td-song-title">
                            <a href="{{ url_for('surf_one_bp.surf_one', sid=song.sid) }}">{{ song.title }}</a>
                        </td>

                        <td class="td-remove" data-sid="{{ song.sid }}" data-title="{{ song.title }}">
                            <button class="remove-this-song" id="{{ 'remove-' + song.sid }}" type="button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="edit-submit" class="form-button btn btn-sm btn-outline-success" type="button">更新</button>

        <a href="{{ url_for('song_list_by_id_bp.song_list_by_id', out_id=songlist.out_id)}}" class="form-button btn btn-sm btn-secondary" >取消</a>

    </form>

    <form id="form-delete-whole-songlist" class="mt-3" action="{{ url_for('songlist_delete_bp.delete', out_id=songlist.out_id) }}" method="POST">
        <button id="delete-submit" class="button-to-delete btn btn-sm btn-danger" type="button">刪除歌單</button>
    </form>


</div>
{% endblock %}

{% block script %}
{{  super ()  }}
<script src="{{ url_for('static', filename='js/songs/songlist_edit.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/songlist_edit.html -->
{% endblock EOF_TAG %}
