<!-- templates/songlist_edit.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/songlist_edit.css') }}">
{%  endblock  %}

{% block title %}
- 編輯
{% endblock %}

{% block content%}

<div class="container text-center">

    <!-- Header -->
    <div class="top-header">


        <h4 class="main-title">
            編輯歌單
        </h4>
        <p class="info-out-id">
            #{{ songlist.out_id }}
        </p>
        <p class="main-info info-title">
            {{ songlist.title }}
        </p>
        <p class="main-info">
            更新於
            <br>
            {{ songlist.edited_time.year }}-{{ songlist.edited_time.month }}-{{ songlist.edited_time.day }}&nbsp;&nbsp;{{ songlist.edited_time.hour }}:{{ songlist.edited_time.minute }}
        </p>
    </div>

    <h6>歌單資訊</h6>

    <hr class="main-hr-bar">

    <form id="form-edit-songlist" action="" method="PUT">

        <div class="form-group">
            <label class="input-label" for="edit-title">標題</label>
            <input class="input-text" type="text" name="title" id="edit-title" value="{{ songlist.title }}">
        </div>

        <div class="form-group">
            <label class="input-label" for="edit-description">說明</label>
            <textarea class="input-text input-description" type="text" name="description"
                id="edit-description">{{ songlist.description }}</textarea>
        </div>

        <div class="form-group">

            <label class="input-label">隱私設定</label>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="privacy" id="public" value="public"
                        {% if not songlist.is_private %} checked {% endif %}>
                    <label class="form-check-label" for="public">
                        <i class="fas fa-globe-asia"></i>&nbsp;公開
                    </label>
                </div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="privacy" id="private" value="private"
                        {% if songlist.is_private %} checked {% endif %}>
                    <label class="form-check-label" for="private">
                        <i class="fas fa-lock"></i>&nbsp;私人
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">

            <label class="input-label">封存</label>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="archive" id="archived" value="archived"
                        {% if songlist.is_archived %} checked {% endif %}>
                    <label class="form-check-label" for="archived">
                        <i class="fas fa-archive"></i>&nbsp;封存
                    </label>
                </div>
                <div class="col-5 text-left">
                    <input class="form-check-input" type="radio" name="archive" id="unarchived" value="unarchived"
                        {% if not songlist.is_archived %} checked {% endif %}>
                    <label class="form-check-label" for="unarchived">
                        <i class="fas fa-box-open"></i>&nbsp;未封存
                    </label>
                </div>
            </div>
        </div>

        <!-- songlist -->

        <div class="edit-songlist">
            <h6>歌曲列表</h6>

            <table class="table songlist-table">
                <tbody>
                    {% for song in songs %}
                    {% set song_index = loop.index0 %}
                    <tr>
                        <td class="td-drag-dot drag-this-iron-man"><i class="fas fa-ellipsis-v" draggable="true"></i>
                        </td>
                        <td class="td-song-order">{{ song_index + 1 }}</td>
                        <td class="td-song-info">
                            <div>國 10 - 66</div>
                            <div>G 調</div>
                        </td>
                        <td class="td-song-title">
                            <a href="{{ url_for('surf_one_bp.surf_one', sid=song.sid) }}">{{ song.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <button class="btn btn-sm btn-outline-success" type="button">更新</button>

    </form>


</div>
{% endblock %}

{% block script %}
{{  super ()  }}
<script src="{{ url_for('static', filename='js/songs/songlist_edit.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/songlist_edit.html -->
{% endblock EOF_TAG %}
