<!-- templates/result.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/songs/song_card.css') }}">
{%  endblock  %}

{% block title %}

{% if mode == "search" %}
- 搜尋詩歌
{% endif %}

{% if mode == "allsongs" %}
- 所有詩歌
{% endif %}

{% if mode == "surf" %}
- 瀏覽詩歌
{% endif %}

{% if mode == "one" %}
- {{ songs[0].title }}
{% endif %}

{% endblock title%}


{% block header_title %}

{% if mode == "one" %}歌曲資訊{% endif %}

{% if mode == "search" %}
搜尋結果 ： {{ title }}
{% endif %}

{% if mode == "surf" %}

{% if lang == "Chinese" %}
國語
&nbsp;
第 {{ c }} 集
{% endif %}

{% if lang == "Taiwanese" %}
台語
&nbsp;
第 {{ c }} 集
{% endif %}

{% endif %}

{% endblock header_title %}

{% block header_info %}

{% if mode == "search" %}
找到 {{ songs_num }} 首歌
{% endif %}

{% if mode == "surf" %}
共有 {{ songs_num }} 首歌
{% endif %}

{% endblock header_info %}

{% block content%}

<div class="container text-center">
    <!-- List -->

    {% for song in songs %}

    {% include "songs/song_card.html" %}
    
    {% endfor %}

    <a class="back-to-home" href="/">回首頁</a>

</div>
{% endblock %}

{% block script %}
{{  super ()  }}
<script src="{{ url_for('static', filename='js/songs/song_card.js') }}"></script>
<script src="{{ url_for('static', filename='js/songs/add_songlist.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/result.html -->
{% endblock EOF_TAG %}
