/* static/css/resultlist.css */

button,
button:active,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
    font-size: .85rem;
}


/* header */

.top-header {
    margin: 2rem 0;
}

.main-title {
    margin-top: 100px;
}

.main-info {
    font-size: .8rem;
}

.main-info-description {
    color: #707070cc;
    font-size: .8rem;
    min-width: 270px;
    max-width: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bull-dot {
    margin: 0 .2rem;
}

.private-icon {
    line-height: .85rem;
    height: .85rem;
    display: inline-block;
    padding-right: .6rem;
    margin-right: .4rem;
    border-right: solid #a0a0a0 2px;
}

.private-icon .fas {
    color: #505050;
    font-size: .5rem;
}

/* hr bar */

.main-hr-bar {
    margin: 1rem auto;
}

/* songlist song info */

.songlist-song-info {
    padding: 1rem auto;
}

.song-order-tag {
    font-size: .85rem;
    margin: 1rem auto 1rem auto;
}

.song-description {
    font-size: .8rem;
    margin: 0 auto .4rem auto;
    color: #707070cc;
    min-width: 270px;
    max-width: 500px;
    width: 75%;
}

/* song card */

.card {
    background-color: #ffffff00;
    border: none;
    border-radius: .5rem;
    min-width: 255px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15)
}

/* add song list */
.song-list-add-btn {
    width: 24px;
    padding: 0;
    border: none;
    background: none;
    float: right;
    font-size: 75%;
    vertical-align: middle;
    line-height: 1.5rem;
}

.add-list-container {
    padding: .5rem 0;
}

.drop-songlist {
    width: 250px;
    position: absolute;
    z-index: 1000;

    margin: .125rem 0 0;
    text-align: left;
    background-color: #fff;
    border-radius: .25rem;

    right: 0;
    left: auto;
    top: auto;
    font-size: .8rem;
    transition: 400ms;
}

.song-list-add-check {
    padding: .5rem 1.5rem;
}

.add-song-list-space {
    display: inline-block;
    width: .1rem;
    height: .1rem;
}

.list-added {
    color: #11cc00;
}

.list-not-added {
    color: #616161ad;
}

.songlist-add {
    padding: .5rem 1.5rem;
}

.songlist-add-a {
    color: rgba(6, 78, 119, 0.548);
}

.form-check-input {
    position: inherit;
}

.input-addnewlist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    border-radius: .25rem;
    padding: .2rem .5rem;
    outline: none;
    border: 1px solid rgba(36, 41, 46, 0.301);
    width: 90%;
    transition: 500ms;
}

.input-addnewlist:focus {
    outline: none;
    border: 1px solid rgba(0, 120, 190, 0.527);
}

.add-list-group {
    margin-top: .7rem;
    margin-bottom: .5rem;
}

.songlist-add label {
    margin: 0;
}

.songlist-add p {
    margin: .5rem;
}

.songlist-add small {
    padding-top: .5rem;
    padding-bottom: .3rem;
}

.songlist-add button {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    height: 1.4rem;
    width: 60%;
    font-size: .8rem;
}

hr.percent-80 {
    margin: 1rem .3rem .7rem .3rem;
}

/* song card */

.card .card-header {
    background-color: #C0AFA1;
    border-radius: .5rem .5rem 0 0;
    border-bottom: none;
}

.header-title-text {
    margin-right: -24px;
}

.song-content-container {
    transition: 500ms;
}

.card .card-body {
    background-color: #f0ebc3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card .card-body-border-bottom {
    border-radius: 0 0 .5rem .5rem;
}

.card .card-body-hide-content {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.song-info {
    line-height: 2rem;
}

.lyrics-text {
    font-size: 0.9rem;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
}

.show-more-song-content a {
    color: #a5679b;
    font-size: 1.4rem;
    transition: 500ms;
}

.show-more-song-color a {
    color: #7e0c0c;
}

.album-info {
    font-size: 0.7rem;
}

.ppt-icon {
    color: #d85a20;
}

.sheet-music-icon {
    color: #2e8592;
}

.youtube-icon {
    color: #c00000;
}

.report-icon {
    color: #ac3030;
    font-size: 0.8rem;
}

/* bottom */
.back-to-home {
    display: inline-block;
    margin: 5rem auto;
}
