/* static/css/songlist_edit.css */

/* header */

.top-header {
    margin: 6rem 0 2rem 0;
}

.main-title {
    margin-bottom: 0;
}

.main-info {
    font-size: .85rem;
}

.main-hr-bar {
    margin: 1rem .5rem;
}

.info-out-id {
    font-size: .5rem;
    color: #00000060;
}

.info-title {
    font-size: 1rem;
    font-weight: bold;
    color: #282894;
}

/* form */

.form-group {
    display: block;
    max-width: 500px;
    width: 80%;
    margin: 0 auto 2rem auto;
}

/* input */

.input-text {
    font-size: .9rem;
    display: flex;
    text-align: center;
    width: 100%;
}

.input-description {
    height: 7rem;
    vertical-align: top;
}

/* label */

.input-label {
    display: flex;
    margin-bottom: .2rem;
    text-align: left;
    font-size: .8rem;
    color: #00000080;
}

.form-check-label {
    font-size: .8rem;
    color: #00000080;
}

/* song info */

.song-info {
    padding: 1rem auto;
}

.song-tag {
    font-size: .85rem;
    margin: 1rem auto 1rem auto;
}

.song-description {
    font-size: .8rem;
    margin: 0 auto .4rem auto;
    color: #707070cc;
    min-width: 270px;
    max-width: 500px;
    width: 75%;
}

/* songlist table */

.edit-songlist {
    margin-top: 3rem;
}

.songlist-table {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

/* tbody */

.table td {
    padding: 1rem .5rem;
    font-size: .8rem;
    vertical-align: middle;
}

.table .td-drag-dot {
    color: #00000060;
    font-size: .7rem;
    width: .5rem;
    padding: 1rem 0 1rem .5rem;
    transition: 200ms;
}

tr:hover td.td-drag-dot {
    color: #000000;
}

.td-song-order {
    width: 2rem;
    font-weight: bold;
}

.table .td-song-info {
    font-size: .5rem;
    width: 5rem;
    text-align: left;
    color: #000000A0;
}

.table .td-song-title a {
    color: #282894;
    font-size: .9rem;
    font-weight: bold;
}
