/* static/css/songlist.css */

/* share */

.happy-share {
    margin-right: .5rem;
    text-align: right;
}

.happy-share button {
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: none;
    color: #00000080;
}

.modal-body {
    text-align: center;
    padding: .5rem 1rem;
}

.url-text {
    width: 100%;
    padding: .2rem;
    text-align: center;
    font-size: 1.2rem;
}

.share-tag {
    display: block;
    font-size: 1rem;
    width: 2rem;
    margin: auto;
}

/* edit button */

.a-songlist-edit {
    color: #00000080;
    width: 24px;
    padding: 0;
    border: none;
    background: none;
    float: right;
    font-size: 1.6rem;
    vertical-align: middle;
    line-height: 1.5rem;
}

/* songlist song info */

.songlist-song-info {
    padding: 1rem auto;
}

.song-order-tag {
    text-align: center;
    font-size: 1.1rem;
    margin: 1rem auto .2rem auto;
}
