/* static/css/surfer.css */

/* 瀏覽區塊 */
.surfer-block {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* 語言標籤 */
.lang-tag {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

/* 按鈕 */
.btn {
    width: 90%;
    font-size: 1.4rem;
    padding: .5rem 1rem;
    margin: 1rem auto;
}

/* 台語按鈕 */
.taiwanese-surf-btn {
    background-color: #c4e2b3;
}

/* 國語按鈕 */
.chinese-surf-btn {
    background-color: #dad0ff;
}

/* 調性按鈕 */
.tonality-surf-btn {
    background-color: #e9998e;
}

.surfer-tag a i {
    color: #a5679b;
    transition: 700ms;
}

.surfer-tag a {
    color: #344042;
}

.surfer-tag {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
