<!-- templates/account_not_activated.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
{%  endblock  %}

{% block title %} - 帳號尚未啟動{% endblock %}

{% block header_title %}
您的帳號尚未啟動
{% endblock %}

{% block header_info %}
<p>很抱歉</p>
<p>請前往你所註冊的電子信箱收取<b>「帳號啟動通知信」</b>，<br>並點選啟動連結來啟動用你的帳號，謝謝！</p>
<p>沒有收到啟動通知信？ <a href="{{ url_for('resend_activate_mail_bp.resend_activate_mail') }}">點這裡重新傳送</a></p>
{% endblock %}

{% block main_hr %}
{% endblock %}

{% block content%}
{% endblock %}

{% block EOF_TAG %}
<!-- EOF templates/account_not_activated.html -->
{% endblock EOF_TAG %}
