<!-- templates/verifymail.html -->

<!DOCTYPE html>
<html lang="zh-Hant-TW" style="max-width: 700px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caten Worship {{ mail_title }}</title>
</head>
<body>
    <div class="" style="text-align: center; margin-top: 4rem; width: 80%; margin: auto;">
        <div id="title" style="text-align: center;">
            <h1>Caten Worship</h1>
        </div>

        <div class="" style="text-align: center;">
            <h3>{{ username }}, {{ message }}, 謝謝</h3>
            <p style="width: 300px;">
                <a href="{{ link_url }}">
                    {{ link_msg }}
                </a>
            </p>
        </div>
    </div>
</body>
</html>

