<!-- templates/admin/users.html -->

{% extends "base/base.html" %}

{%  block  head  %}
{{  super ()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/users.css') }}">
{%  endblock  %}

{% block title %}
- 使用者管理
{% endblock %}

{% block header_title %}
使用者管理
{% endblock%}

{% block header_info %}
<p>共有 {{ users | length }} 位使用者</p>
{% endblock%}

{% block content%}

<div class="container text-center">
    <!-- List -->

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <!-- ID -->
                <th scope="col" class="">ID</th>

                <!-- Username and Email and Display name -->
                <th scope="col" class="">
                    <span class="content-span">使用者帳號</span>
                    <br>
                    <span class="content-span">Email</span>
                    <br>
                    <span class="content-span">顯示名稱</span>
                </th>

                <!-- Register time and Last login time -->
                <th scope="col" class="">
                    <span class="content-span">註冊時間</span>
                    <br>
                    <span class="content-span">上次登入</span>
                </th>

                <!-- Is authenticated -->
                <th scope="col" class="d-none d-md-table-cell">
                    已啟動
                </th>

                <!-- Authority -->
                <th scope="col" class="">
                    權限
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr id="{{ user.id }}">
                <a href="">

                    <!-- ID -->
                    <td class="">
                        {{ user.id }}
                    </td>

                    <!-- Username and Email and Display name -->
                    <td class="">
                        <span class="content-span">{{ user.username }}</span>
                        <br>
                        <span class="content-span">{{ user.email }}</span>
                        <br>
                        <span class="content-span">{{ user.displayname }}</span>
                    </td>

                    <!-- Register time and Last login time -->
                    <td class="">
                        <span class="d-sm-none content-span">
                            {{ user.register_time.month }}/{{ user.register_time.day }}
                        </span>
                        <span class="d-none d-sm-inline content-span">
                            {{ user.register_time.year }}-{{ user.register_time.month }}-{{ user.register_time.day }}
                        
                            <span class="d-none d-md-inline content-span">
                                &nbsp;{{ user.register_time.hour }}:{{ user.register_time.minute }}:{{ user.register_time.second }}
                            </span>
                        </span>

                        <br>

                        <span class="d-sm-none content-span">
                            {{ user.last_login_time.month }}/{{ user.last_login_time.day }}
                        </span>
                        <span class="d-none d-sm-inline content-span">
                            {{ user.last_login_time.year }}-{{ user.last_login_time.month }}-{{ user.last_login_time.day }}
                        
                            <span class="d-none d-md-inline content-span">
                                &nbsp;{{ user.last_login_time.hour }}:{{ user.last_login_time.minute }}:{{ user.last_login_time.second }}
                            </span>

                        </span>
                    </td>

                    <!-- Is authenticated -->
                    <td class="d-none d-md-table-cell">
                        {% if user.is_authenticated %}
                        <span><i class="fas fa-check"></i></span>
                        {% else %}
                        <span><i class="fas fa-times"></i></span>
                        {% endif %}
                    </td>

                    <!-- Authority -->
                    <td class="table-td-icon">
                        {% if user.is_admin %}
                        <span><i class="fas fa-chess-king"></i></span>
                        {% elif user.is_manager %}
                        <span><i class="fas fa-chess-knight"></i></span>
                        {% else %}
                        <span><i class="fas fa-user"></i></span>
                        {% endif %}
                    </td>
                </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
{{  super ()  }}
<script src="{{ url_for('static', filename='js/admin/users.js') }}"></script>
{% endblock script %}

{% block EOF_TAG %}
<!-- EOF templates/list_of_songlist.html -->
{% endblock EOF_TAG %}
