<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Caten Worship{% block title %}{% endblock title%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}

    {% include "base/style.html" %}

    {% endblock css %}

    {% endblock head%}

</head>

<body>
    {% block alert_container %}
    {% include "base/alert.html" %}
    {% endblock alert_container %}

    {% block navbar %}
    {% include "base/navbar.html" %}
    {% endblock navbar %}


    <div id="content">
        {% block content %}{% endblock content%}
    </div>

    {% block footer %}
    <footer id="footer">
        <p>&copy; 2019 &nbsp;Salt.</p>
    </footer>
    {% endblock %}

    {% block script %}
    {% include "base/script.html" %}
    {% endblock script %}
</body>

</html>

{% block EOF_TAG %}{% endblock EOF_TAG %}
