<!-- Navbar -->
<nav id="navbar" class="navbarstyle navbar navbar-expand-sm navbar-light fixed-top">
    <a class="navbar-brand brand-logo-border" href="/">
        <svg width="3.6rem" height="3.6rem" viewBox="0 0 640 640" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>CatenWorshipLogo</title>
            <desc>Created by Salt.</desc>
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <circle id="BG" fill="#24292E" cx="320" cy="320" r="320"></circle>
                <path
                    d="M301,97 L301,33 L338,33 L338,97 L409,97 L409,137 L338,137 L338,305 L301,305 L301,137 L230,137 L230,97 L301,97 Z"
                    id="CROSS" fill="#FFFFFF"></path>
                <text id="WORSHIP" font-family="Optima-Bold, Optima" font-size="108" font-weight="bold" fill="#FFFFFF">
                    <tspan x="71.7397188" y="501">WORSHIP</tspan>
                </text>
                <text id="CATEN" font-family="Optima-Bold, Optima" font-size="108" font-weight="bold" fill="#FFFFFF">
                    <tspan x="158.700329" y="404">CATEN</tspan>
                </text>
            </g>
        </svg>
    </a>
    <a class="d-sm-none" data-toggle="collapse" href="#navbarSupportedContent" role="button" aria-expanded="false"
        aria-controls="navbarSupportedContent" id="navbar-menu-btn">
        <span class="navbar-toggler-icon"></span>
    </a>


    <div class="collapse navbar-collapse brand-menu-container navbar-content-list" id="navbarSupportedContent">

        <hr class="navbar-hr">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form class="navbar-search-form" action="{{ url_for('search_bp.search') }}" method="GET">
                    <input class="d-none" type="text" name="c" value="">
                    <input class="d-none" type="text" name="lang" value="">
                    <input class="d-none" type="text" name="to" value="">
                    <input name="title" type="text" class="navbar-input-search-songs-text form-control navbar-search"
                        placeholder="搜尋...">
                </form>
            </li>

            <hr class="navbar-hr">

            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('surfer_bp.surfer') }}">
                    <i class="fas fa-compass"></i>
                    &nbsp;探索
                    <span class="sr-only">(current)</span>
                </a>
            </li>

        </ul>

        <hr class="navbar-hr">

        <ul class="navbar-nav ml-auto">

            {% if not current_user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link navbar-item-style" href="{{ url_for('login_bp.login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                    &nbsp;登入
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <hr class="navbar-hr">

            <li class="nav-item active">
                <a class="nav-link navbar-item-style" href="{{ url_for('register_bp.register') }}">
                    <i class="fas fa-feather-alt"></i>
                    &nbsp;註冊
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <button class="dropdown-toggle btn-navbar-user-dropdown" type="button" data-toggle="collapse" data-target="#user-dropdown-collapse" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    &nbsp;{{ current_user.displayname }}
                </button>
                <!-- <button class="dropdown-toggle" type="button" id="btn-navbar-user-dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ current_user.displayname }}
                </button> -->
                <div class="collapse dropdown-collapse" id="user-dropdown-collapse">
                <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"> -->
                    <!-- <a class="dropdown-item" href="/user/songlist">我的歌單</a> -->
                    <form action="{{ url_for('user_songlist_bp.user_songlist') }}" method="get">
                        <button type="submit" class="dropdown-item">我的歌單</button>
                    </form>
                    <form action="{{ url_for('logout_bp.logout') }}" method="post">
                        <button type="submit" class="dropdown-item">登出</button>
                    </form>
                </div>
            </li>
            {% endif %}

        </ul>

    </div>
</nav>
